body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f7f7f7;
}

header {
    background: blue;
    padding: 15px 40px;
}

.logo {
    color: white;
    margin: 0;
    display: inline-block;
}

nav ul {
    float: right;
    list-style: none;
}

nav ul li {
    display: inline-block;
    margin-left: 25px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

nav ul li a.active {
    color: yellow;
    font-weight: bold;
}

.hero {
    text-align: center;
    padding: 120px 20px;
    background: linear-gradient(to right, #1f1f1f, #000);
    color: white;
}

.hero h1 span {
    color: yellow;
}

.btn {
    display: inline-block;
    background: yellow;
    padding: 10px 20px;
    border-radius: 5px;
    color: black;
    margin-top: 20px;
    font-weight: bold;
    text-decoration: none;
}

.content {
    padding: 50px 40px;
    max-width: 900px;
    margin: auto;
}

.project-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.project-card {
    padding: 20px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
